[Unit]
Description=FadeLED
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/sel/6219/"Prática VII"/pwm_led.py
#ExecStop=
user=SEL

[Install]
WantedBy=multi-user.target
